body {
    padding: 3%;
}

h1 {
    text-align: center;
    font-style: italic;
}

.descricao {
    position: absolute;
    top: 170px;
    right: 10px;
    padding-left: 300px;
    text-align: justify;
    
}


.tulio {
    width: 250px;
    float: left;
    height: 430px;
    padding: 10px;
    background-color: rgb(84, 80, 95);
    
}

div {
    height: 530px;
}



.mural {
    height: 450px;
    position: relative;
}

ul:first-of-type li:nth-of-type(2n+1) {
    font: bolder;
    font-style: italic;
    color: brown;
    font-size: 20px;
}

.indice {
    
}